.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 100px;
}
.button-row::after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 20px;
  font-weight: bold;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: beige;
  height: 100vh;
}

.game-info {
  margin-top: 130px;
  width: 20vw;
  display: flex;
  justify-content: center;
}
.game-board {
  margin-top: 100px;
}
